@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{

}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    height:270px;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7vh;
}
header h1{
    font: bolder 7vh Passion One  ;
}
header h1::first-letter{
    font-size: 10vh;
}
header :where(p,a){
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(17px,1.7vh);
    color: #fff;
}
header a{
    font-weight: bolder;
    font-size:max(17px,2vh); ;
}
header a:hover,footer a:hover{
    text-decoration: underline;
}
.verses{
    width: 100%;
    height: 100%;
}
.verses div{
    height:750px;
    margin: 10px;
    padding: 35px;
    font-family: "Sriracha", cursive;
    font-size: max(21px,4vh);
}
.verses div p{
    line-height: 60px;
    height: 100%;
    font-size:max(21px,80%);
}
.verses div:nth-child(2){
    background: blue url('../assets/img_joa_div.jpeg') center center no-repeat fixed;
    background-size: cover;

}
.verses div:nth-child(5){
    background: blue url('../assets/img_book_div.jpeg') center center no-repeat fixed;
    background-size: cover;
}
.verses div:nth-child(2) p,.verses div:nth-child(5) p{
    background-color: #0000002d;
    max-width:max(630px,650px);
    padding: 20px;
    border-radius: 20px;
}
footer{
    background-color: #000;
    color: #fff;
    height: 50px;
    font-family:verdana;
    font-size: max(10px,2vh);
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fff;
    font: 600 21px verdana;

}